.text{
    -fx-font-family: Poppins;
}

.Header-Style{
    -fx-font-family: Poppins;
    -fx-text-fill: #5A0B0C;
    -fx-font-weight: 700;
    -fx-font-size: 17;
}

.Icon-Style{
    -fx-max-width: 18;
    -fx-max-height: 50;
}

.Text-Style{
    -fx-font-family: Poppins;
    -fx-text-fill: #000000;
    -fx-font-weight: 700;
    -fx-font-size: 16;
}

.text-field{
    -fx-pref-height: 39;
    -fx-pref-width: 330;
    -fx-background-color: #EAEAEA;
    -fx-padding: 10;
    -fx-background-radius: 8;
}

.text-field-longer{
    -fx-pref-height: 123;
    -fx-pref-width: 330;
    -fx-background-color: #EAEAEA;
    -fx-padding: 10;
    -fx-background-radius: 8;
}

.button-styled{
    -fx-font-family: Poppins;
    -fx-font-size: 16;
    -fx-font-weight: bold;
    -fx-text-fill:  #5A0B0C;
    -fx-background-color: #FFDA4B;
    -fx-background-radius: 8;
    -fx-cursor: hand;
}

.backMenu-Icon{
    -fx-background-color: transparent;
    -fx-background-image: url("../assets/images/Location/ButtonClose.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-max-width: 18;
    -fx-max-height: 18;
}