.anchorStyle{
    -fx-background-color: #e8e8e8;
    -fx-background-radius: 5;

}

.left{
    -fx-font: Poppins;
    -fx-font-weight: 700;
    -fx-font-size: 12;
}

.right{
    -fx-font: Poppins;
    -fx-font-weight: 400;
    -fx-font-size: 12;
}

.button-styled{
    -fx-font-family: Poppins;
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-text-fill:  #5A0B0C;
    -fx-background-color: #FFDA4B;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-pref-height: 20;
    -fx-pref-width: 70;
}

.button-styled-view-orders{
    -fx-font-family: Poppins;
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-text-fill:  #5A0B0C;
    -fx-background-color: #FFDA4B;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-pref-height: 20;
    -fx-pref-width: 94;
    -fx-border-radius: 15px;
}

.text{
    -fx-font-family: Poppins;
}