#closeButton{
    -fx-background-color: transparent;
    -fx-background-image: url("../assets/images/Location/ButtonClose.png");
    -fx-background-size: contain;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
    -fx-max-width: 18;
    -fx-max-height: 18;
}

.text{
    -fx-font-family: Poppins;
}

.maroon-text{
    -fx-text-fill: #5A0B0C;
}

.bold-text {
    -fx-font-weight: bold;
}

.title-text{
    -fx-font-family: Poppins;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.large-text {
    -fx-font-family: Poppins;
    -fx-font-size: 18;
    -fx-font-weight: bold;
}

.subtitle-text{
    -fx-font-family: Poppins;
    -fx-font-size: 17;
    -fx-font-weight: bold;
}

.card{
    -fx-background-color: white;
    /*-fx-border-color: #7C7C7C;*/
    -fx-padding: 10;
    /*    drop shadow*/
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 1);
    -fx-border-radius: 8;
    -fx-background-radius: 8;
}

#itemImg{
    -fx-border-width: 2;
    -fx-border-color: #EAEAEA;
    -fx-border-radius: 5;

}

#paymentDropDown{
    -fx-background-color: transparent;
    -fx-border-color: #7C7C7C;
    -fx-border-radius: 5;

}
/*up and down button of the spinner wheel in paymentDropdown*/
#paymentDropDown .increment-arrow-button, #paymentDropDown .decrement-arrow-button {
    -fx-background-color: transparent;
}


#placeOrderBtn{
    -fx-font-family: Poppins;
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-text-fill:  #5A0B0C;
    -fx-background-color: #FFDA4B;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-pref-height: 38;
    -fx-pref-width: 330;
}

.button-styled{
    -fx-font-family: Poppins;
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-text-fill:  #5A0B0C;
    -fx-background-color: #FFDA4B;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-pref-height: 30;
    -fx-pref-width: 125;
}

.button-styled-grey{
    -fx-font-family: Poppins;
    -fx-font-size: 13;
    -fx-font-weight: bold;
    -fx-text-fill:  #3a3b3c;
    -fx-background-color: #e8e8e8;
    -fx-background-radius: 8;
    -fx-cursor: hand;
    -fx-pref-height: 30;
    -fx-pref-width: 125;
}